---
import { type CollectionEntry, getCollection } from "astro:content";

import { format } from "date-fns";

import Html from "../../layouts/Html.astro";
import Head from "../../layouts/Head.astro";
import Body from "../../layouts/Body.astro";

import Entry from "../../components/custom/Entry.astro";

import Signature from "../../components/extras/Signature.astro";

import Blockquote from "../../components/structure/Blockquote.astro";
import BulletedList from "../../components/structure/BulletedList.astro";
import NumberedList from "../../components/structure/NumberedList.astro";
import Snippet from "../../components/structure/Snippet.astro";
import SuperIndex from "../../components/structure/SuperIndex.astro";

import PrimaryHeading from "../../components/headings/PrimaryHeading.astro";
import SecondaryHeading from "../../components/headings/SecondaryHeading.astro";

import Figure from "../../components/structure/Figure.astro";
import Paragraph from "../../components/structure/Paragraph.astro";

import Bold from "../../components/typography/Bold.astro";
import Italic from "../../components/typography/Italic.astro";
import Mono from "../../components/typography/Mono.astro";

export const prerender = true;

type Post = CollectionEntry<"blog">;

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
      otherPosts: posts
        .filter((p) => p.slug !== post.slug)
        .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
        .slice(0, 3),
    },
  }));
}

const { post, otherPosts } = Astro.props;

const { Content } = await post.render();
---

<>
  <Head
    title={post.data.title}
    description={post.data.description}
    keywords={post.data.tags}
    thumbnail={post.data.thumbnail}
  >
    <meta name="author" property="article:author" content={post.data.author} />
    <meta
      property="article:published_time"
      content={post.data.date.toISOString()}
    />
  </Head>
  <Body>
    <article
      id="article"
      class="[&>p:nth-of-type(2)::first-letter]:font-serif [&>p:nth-of-type(2)::first-letter]:text-primary ::first-letter]:font-serif"
    >
      <PrimaryHeading class="mt-[60px]">
        {post.data.title}
      </PrimaryHeading>
      <Paragraph class="!text-disabled mb-[60px]">
        {format(post.data.date, "MMM d, yyyy")}
      </Paragraph>
      <Content
        components={{
          blockquote: Blockquote,
          code: Mono,
          em: Italic,
          h1: PrimaryHeading,
          h2: SecondaryHeading,
          img: Figure,
          ol: NumberedList,
          p: Paragraph,
          pre: Snippet,
          strong: Bold,
          sup: SuperIndex,
          ul: BulletedList,
        }}
      />
      <SecondaryHeading>Continue reading</SecondaryHeading>
      {
        otherPosts.map((post: Post) => (
          <Entry
            title={post.data.title}
            description={post.data.description}
            link={"/blog/" + post.slug}
          />
        ))
      }
      <Signature />
    </article>
  </Body>
</>
