---
import "../styles/index.scss";

import { ViewTransitions } from "astro:transitions";

import {
  DEFAULT_TITLE,
  DEFAULT_DESCRIPTION,
  DEFAULT_KEYWORDS,
  DEFAULT_THUMBNAIL,
} from "../constants";

type Props = {
  title?: string;
  description?: string;
  keywords?: string[];
  thumbnail?: string;
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title = DEFAULT_TITLE,
  description = DEFAULT_DESCRIPTION,
  keywords = DEFAULT_KEYWORDS,
  thumbnail = DEFAULT_THUMBNAIL,
} = Astro.props;
---

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <link rel="canonical" href={canonicalURL} />

  <meta property="og:type" content="website" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:image" content={new URL(thumbnail, Astro.url)} />

  <meta name="title" property="og:title" content={title} />
  <meta name="description" property="og:description" content={description} />
  <meta name="keywords" content={keywords.join(", ").toLowerCase()} />
  <meta name="url" property="og:url" content={Astro.url} />
  <meta
    name="image"
    property="og:image"
    content={new URL(thumbnail, Astro.url)}
  />

  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />

  <slot />

  <title>{title}</title>

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link
    rel="preload"
    href="/assets/fonts/figtree-variable-subset.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
    transition:persist
  />
  <link
    rel="preload"
    href="/assets/fonts/source-serif-4-subset.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
    transition:persist
  />
  <link
    rel="preload"
    href="/assets/fonts/source-serif-4-italic-subset.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
    transition:persist
  />

  <ViewTransitions />

  <script>
    document.addEventListener("astro:after-swap", () => {
      document.getElementById("controller")?.classList.add("no-animate");
    });
  </script>
  <script>
    let isBlurred = false;

    function toggleBlur() {
      isBlurred = !isBlurred;

      if (isBlurred) {
        document
          .getElementById("blur-container")
          ?.setAttribute("data-blur", "true");
      } else {
        document.getElementById("blur-container")?.removeAttribute("data-blur");
      }
    }

    document.addEventListener("click", (evt) => {
      if (evt.altKey) {
        evt.preventDefault();

        toggleBlur();
      }
    });
  </script>
</head>
