---
import "../styles/index.scss";

import "@fontsource-variable/figtree";
import "@fontsource-variable/source-serif-4/standard.css";
import "@fontsource-variable/source-serif-4/standard-italic.css";

import { ViewTransitions } from "astro:transitions";

import {
  DEFAULT_TITLE,
  DEFAULT_DESCRIPTION,
  DEFAULT_KEYWORDS,
} from "../constants";

type Props = {
  title?: string;
  description?: string;
  keywords?: string[];
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title = DEFAULT_TITLE,
  description = DEFAULT_DESCRIPTION,
  keywords = DEFAULT_KEYWORDS,
} = Astro.props;
---

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

  <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <link rel="canonical" href={canonicalURL} />

  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta
    property="og:image"
    content={new URL("/assets/img/og.png", Astro.url)}
  />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta
    property="twitter:image"
    content={new URL("/assets/img/og.png", Astro.url)}
  />

  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords.join(", ").toLowerCase()} />

  <meta name="og:title" content={title} />
  <meta name="og:description" content={description} />

  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />

  <title>{title}</title>

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <ViewTransitions />

  <script>
    document.addEventListener("astro:after-swap", () => {
      document.getElementById("controller").classList.add("no-animate");
    });
  </script>
</head>
